# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Azurite
__blobstorage__
__queuestorage__
__azurite_db*__.json

# Azure Developer CLI
.azure/

# OS files
.DS_Store
Thumbs.db

# PowerShell
*.ps1xml

# npm artifact from language: js workaround
package-lock.json
